<%- include('../modules/header', {'title': 'Consider Me Spiritual'}); %>
<main>
  <h1>404 error</h1>
  <p>This page does not exist.</p>
  <a href="/">Go home.</a>
</main>
<%- include('../modules/footer', {}); %>
